 <% @spray_programs.each_with_index do |p, i| %>

    <tr>
      <th scope="row"><%= "#{i + 1}" %></th>
      <td><%= p.date %></td>
      <td><%= p.sprayer.name %></td>
      <td><%= p.total_volume %></td>
      <td><%= p.tanks_count %></td>
      <td><%= p.volume_per_tank %></td>
      <td><%= render 'shared/model_dropdown', model: p %></td>
    </tr>

<% end %>
