<h1>New Spray Program</h1>

<%= form_with model: @spray_program do |form|%>
  <%= form.label :Date %>

  <%= form.date_select :date %> <br>
  <%= form.hidden_field :farm_id, value: current_user.farm[:id]%>
  <%= form.label :Sprayer %>
    <%= form.fields_for :program_sprayer do |spray_form| %>

        <%= spray_form.label :sprayer %>
        <%= spray_form.collection_select :sprayer_id, Sprayer.all, :id, :name %>
    <% end %>
  <%# <%= form.collection_select :sprayer, program_sprayer_id, Sprayer.all.where(farm: current_user), :name,  prompt: true %> %>
  <%= form.submit %>
<% end %>
