<h1>Spray program : <%= @spray_program.date %></h1>

<h2>Sprayer</h2>
  <ul>
    <li> Name: <%= @spray_program.sprayer.name %> </li>
    <li> Capacity: <%= @spray_program.sprayer.capacity %>L </li>
  </ul>
<h3>Config</h3>
  <ul>
    <li>Output: <%= @spray_program.program_sprayer.litres_per_min %> l/min </li>
    <li>Speed: <%= @spray_program.program_sprayer.speed %> km/h</li>
    <li>Rate: <%= @spray_program.litres_per_ha %></li>
  </ul>
<h2>Crops</h2>
   <% @spray_program.crops.each do |crop| %>
      <p>Name:<%= crop.name %></p>
      <p>Hectares:<%= crop.hectares.round(2) %></p>
      <p>Row spacing:<%= crop.row_spacing.round(2) %></p>
    <% end %>
<h2>Products</h2>
  <% @spray_program.products.each do |product| %>
    <p>Name: <%= product.name %></p>
    <p>Rate: <%= product.rate_per_ha.round(3)%> /Ha</p>
  <% end %>
<%= link_to "Index", spray_programs_path, class: "btn btn-success"%>
