 <%= link_to "Back", spray_programs_path, class: "btn btn-success m-1"%>
  <h2>Spray program review </h2>
  <h4>Scheduled for:<%= @spray_program.date.strftime("%d/%e/%Y") %></h4>

<%= link_to "Download PDF",
  spray_program_pdf_download_path(@spray_program, format: "pdf"),
  target: "_blank",
  class: "btn btn-secondary"
%>

  <h3>Mix details</h3>
  <table class="table table-hover table-light border-success">
    <thead>
      <tr class="">
        <th scope="col">Product</th>
        <th scope="col">Rate</th>
        <th scope="col">Total Dose</li>
        <th scope="col">Dose per tank</li>
      <tr>
    </thead>
    <tbody>
      <% @spray_program.program_doses.each do |dose| %>
        <tr>
          <td scope="col"><%= dose.product.name %></td>
          <td scope="col"><%= dose.product.rate_per_ha %> L</td>
          <td scope="col"><%= dose.total_dose%> <%= to_unit(dose.product.liquid?) %></td>
          <td scope="col" class="bg-warning"><%= dose.tank_dose.round(2) %> <%= to_unit(dose.product.liquid?) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= render 'spray_details' %>
  <div class="d-flex align-items-center">
  <h4 class="bg-light">Sprayer Configuration </h4>
  <a class="btn btn-secondary m-2 " data-bs-toggle="collapse" href="#configFull" role="button" aria-expanded="false" aria-controls="configFull" ><i class="fas fa-bars"></i></a>
</div>
<div class="collapse"id="configFull">
  <%= render 'spray_config' %>
  <p>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#configForm" role="button" aria-expanded="false" aria-controls="configForm">
    Settings
    </a>
  </p>
<div class="collapse" id="configForm">
  <div class="card card-body bg-light">
  <%= form_with model: @spray_program do |form|%>
<%= form.fields_for :program_sprayer do |spray_form| %>
    <div class="row">
          <div class="col-md">
            <div class="input-group">
              <%= spray_form.label :sprayer, class: "input-group-text" %>
              <%= spray_form.collection_select :sprayer_id, Sprayer.all.where(farm: current_user.farm), :id, :name, {}, {class: "form-select"} %>
            </div>
          </div>
                <div class="col-md">
                  <div class="input-group">
                    <%= spray_form.label "Flow rate", class: "input-group-text"%>
                    <%= spray_form.number_field :litres_per_min, step: 0.1, class: "form-control" %> <br>
                    <span class="input-group-text">l/min</span>
                  </div>
                </div>
                <div class="col-md">
                  <div class="input-group">
                    <%= spray_form.label "Speed",class: "input-group-text" %>
                    <%= spray_form.number_field :speed, step: 0.1, class: "form-control" %>
                    <span class="input-group-text">km/h</span>
                  </div>
                </div>
              </div>
            <%= form.submit class:"btn btn-success m-3" %>
          <% end %>
    <% end %>
  </div>
</div>
</div>
<div class="d-flex align-items-center">
   <h4>Crops</h4>
  <a class="btn btn-secondary m-2 " data-bs-toggle="collapse" href="#crops" role="button" aria-expanded="false" aria-controls="crops" ><i class="fas fa-bars"></i></a>
</div>
  <div class="collapse" id="crops">
   <% @spray_program.crops.each do |crop| %>
      <p>Name:<%= crop.name %></p>
      <p>Hectares:<%= crop.hectares.round(2) %></p>
      <p>Row spacing:<%= crop.row_spacing.round(2) %></p>
    <% end %>
   </div>
<%= link_to "Back", spray_programs_path, class: "btn btn-success m-2"%>
