 <% @sprayers.each_with_index do |sprayer, i| %>

    <tr>
      <th scope="row"><%= "#{i + 1}" %></th>
      <td><%= sprayer.name %></td>
      <td><%= sprayer.capacity %> L</td>
      <td><%= sprayer.farm.name %></td>
      <td><%= render 'shared/model_dropdown', model: sprayer %></td>
    </tr>

<% end %>
