<h1><strong><%= @crop.name %></strong><%= @crop.year  %></h1>
<ul>
  <li>Farm: <%= @crop.farm.name %></li>
  <li>Hectares: <%= @crop.hectares %></li>
  <li>Row spacing: <%= @crop.row_spacing %></li>

</ul>

<ul class="list-inline">
  <li><%= link_to "Index", crops_url, class: "btn btn-primary"%></li>
 </ul>
