 <% @products.each_with_index do |p, i| %>

    <tr>
      <th scope="row"><%= "#{i + 1}" %></th>
      <td><%= p.name %></td>
      <td><%= p.rate_per_ha %> <%= to_unit(p.liquid) %></td>
      <td><%= render 'shared/model_dropdown', model: p %></td>
    </tr>

<% end %>
