<h1>Products#new</h1>
<p>Find me in app/views/products/new.html.erb</p>

<%= form_with model: @product do |form|%>
  <%= form.label :Product_name %>
  <%= form.text_field :name %> <br>
  <%= form.label :Rate_per_ha%>
  <%= form.number_field :rate_per_ha, in: 0.1..20, step: 0.1 %>
  <%= form.label :liquid %>
  <%= form.check_box :liquid %>
  <%= form.hidden_field :farm_id, value: current_user.farm.id%>
  <%= form.submit %>
  <% end %>
